@model niac.Models.Member
@{
    ViewData["Title"] = "Details";
}
<section>
    <header>
        <h1>Member detail</h1>
    </header>
    <article>

        <img src="@Model.MemberImgUrl" alt="Alternate Text" class="img-rounded" />

        <div class="form-group">
            @Html.LabelFor(x => x.MemberName)
            @Model.MemberPrefix @Model.MemberName
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.MemberTitle)
            @Model.MemberTitle

        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.PartyName)
            @Model.PartyName
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.ConstituencyName)
            @Model.ConstituencyName
        </div>


        @*@Model.AffiliationId*@

        <h2>Contact details</h2>

        @foreach (var item in Model.MemberContacts)
        {
            <p>
                Town: @item.Address1


            </p>

            <p>
                City @item.TownCity

            </p>

        }





        <h2>Questions</h2>

        <p>Total Questions Asked: @Model.TotalQuestionsAsked</p>

        <table class="table table-bordered table-condensed" id="questionTable">
            <caption>Table displaying all the current MLA'S questions</caption>
            <thead>
                <tr>
                    <th scope="col">Department</th>
                    <th scope="col">Question text</th>
                    <th scope="col">Oral AQ</th>
                    <th scope="col">Date Tabled</th>
                    <th scope="col">Source</th>
                    <th scope="col">Detail</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Question)
                {
                <tr>
                    <td>@item.DepartmentName</td>
                    <td>@item.QuestionText</td>
                    <td>@item.QOralAnswerRequested</td>
                    <td>@item.TabledDate.ToShortDateString()</td>
                    <th><a href="@item.QuestionDetails">Source</a></th>
                    <td><a href="@Url.Action("Detail","Question", new { id = item.DepartmentId})">Detail</a></td>
                </tr>
                }
            </tbody>
        </table>
    </article>
</section>
